<ion-header>

  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>chat</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row *ngFor="let m of c.msgs">
      <ion-col col-2 *ngIf="id == m.from"></ion-col>
      <ion-col col-10>
        <ion-card>
          <ion-card-content>
            {{m.message}}
            <p text-right><small>{{m.send | date:'HH:mm'}}</small><ion-icon name="checkmark" *ngIf="m.read && m.from === id"></ion-icon></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="c.estado==2">
      <ion-col col-12>
        <ion-card>
          <ion-card-content text-center>
            No puede enviar mas mensajes una vez completada la solicitud.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
<ion-footer no-border>
  <ion-toolbar position="bottom">

    <form (ngSubmit)="send()" #f="ngForm" class="message-form">

      <input type="text" placeholder="Escriba un mensaje aquí..." [(ngModel)]="chatBox" name="chatBox" required [disabled]="c.estado==2" style="width: 69%;
    height: 2.8em;">

      <button type="submit" ion-button icon-right [disabled]="c.estado==2">
        Enviar
        <ion-icon name="send"></ion-icon>
      </button>

    </form>

  </ion-toolbar>
</ion-footer>