page-chat {
    .card {
        border-radius: 15px;
        background-color: #0068e9;
        color:white;
        font-size: 15px;
    }
    .card.own-msg{
        color:black;
        background-color: #e6e9ed;
    }
    .card-content {
        padding: 5px 16px 5px;
    }
    .timestamp{
        position: absolute;
        bottom: 0;
    }
}
