<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Historial</ion-title>
  </ion-navbar>
  <ion-searchbar
  [(ngModel)]="search"
  [showCancelButton]="true"
  placeholder="Filtrar"
  cancelButtonText="Cancelar"
  (ionInput)="onInput($event)"
  (ionCancel)="onCancel($event)">
</ion-searchbar>
</ion-header>
<ion-content>
   
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Actualizar"
      refreshingSpinner="circles"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>
 
<ion-list>
    <button ion-item *ngFor="let item of solicitudes" (click)="openDetail(item)">
      <ng-container *ngIf="auth.isPro()">
      {{item.afiliado.personaFisica.nombre +' ' +item.afiliado.personaFisica.apellido}}
      </ng-container>
    <ng-container *ngIf="!auth.isPro()">
      <ng-container *ngIf="item.profesional">
      {{item.profesional.personaFisica.nombre +' ' +item.profesional.personaFisica.apellido}}
      </ng-container>
      <ng-container *ngIf="!item.profesional">
      Pendiente
      </ng-container>
      </ng-container>
      <div class="item-note" item-right>
        {{item.fechaAlta | date: 'dd/MM/yyyy'}}
      </div>
    </button>
  </ion-list>
</ion-content>
