<ion-header>
  
  <ion-navbar color="primary">
    <ion-title>nuevaSolicitud</ion-title>
  </ion-navbar>
  
</ion-header>
<ion-content>
 
  <ion-item>
<ion-label>Domicilio</ion-label>
</ion-item>
<ng-container *ngIf="checkDom.length != 0">

  <ion-card *ngFor="let dom of checkDom;">
    <ion-item>
      <ion-checkbox (click)="selectDom(dom)" [checked]="dom.checked"></ion-checkbox>
      <ion-label>{{dom.calle + ' ' + dom.numero +', '+ dom.localidad +', '+ dom.provincia}}</ion-label>
    </ion-item>
    
  </ion-card>
</ng-container>
      
 
  <ion-item>
    <ion-label>Tiempo de sintomas</ion-label>
    <ion-datetime displayFormat="H:mm" pickerFormat="H mm" [(ngModel)]="tiempoSintomas" cancelText="Cancelar" doneText="Aceptar"></ion-datetime>
  </ion-item>

  <ion-item-group>
    <ion-item-divider color="light">
      <ion-label>
      Sintomas
    </ion-label>
      <button ion-button round (click)="buscarSintoma()" icon-only item-end> 
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-item-divider>
    <ion-item *ngFor="let s of solicitud.sintomas">{{s.dec10}}</ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">
      <ion-label>
      Antecedentes
    </ion-label>
      <button ion-button round (click)="buscarSintoma(true)" icon-only item-end> 
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-item-divider>
    <ion-item *ngFor="let a of solicitud.antecedentes">{{a.dec10}}</ion-item>
  </ion-item-group>
</ion-content>
  <ion-footer padding>
    <button menuClose ion-button full round (click)="saveSol()">
        Enviar Solicitud
      </button>
  </ion-footer>