<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Solicitudes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" [enabled]="enableRefresh">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Actualizar" refreshingSpinner="circles" refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="vista == 'lista'">
    <ion-list>
      <button ion-item *ngFor="let item of solicitudes" (click)="openDetail(item)">
       <ng-container *ngIf="auth.isPro()">
      {{item.afiliado.personaFisica.nombre +' ' +item.afiliado.personaFisica.apellido}}
      </ng-container>
    <ng-container *ngIf="!auth.isPro()">
      {{item.profesional.personaFisica.nombre +' ' +item.profesional.personaFisica.apellido}}
      </ng-container>
      <div class="item-note" item-right>
        {{item.fechaAlta | date: 'HH:mm'}}
      </div>
    </button>
    </ion-list>
  </ng-container>
  <ng-container *ngIf="vista != 'lista'">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom"  [fitBounds]="mapBounds">
      <agm-marker *ngFor="let m of solicitudes; let i = index" (markerClick)="openDetail(m)" [latitude]="m.domicilio.latitud" [longitude]="m.domicilio.longitud"></agm-marker>
    </agm-map>
  </ng-container>
</ion-content>
<ion-footer>
  <ion-toolbar position="bottom">
    <ion-segment [(ngModel)]="vista" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="lista">
        <ion-icon name="list"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="mapa">
        <ion-icon name="map"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>