<ion-header>

  <ion-navbar color="primary">
    <ion-title>Mensajes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Actualizaa"
      refreshingSpinner="circles"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>
<ion-list>
    <button ion-item *ngFor="let item of chats" (click)="openChat(item)" >
        {{auth.isPro() ? item.afiliado.personaFisica.nombre +' '+ item.afiliado.personaFisica.apellido:item.profesional.personaFisica.nombre +' '+ item.profesional.personaFisica.apellido}}
      <p *ngIf="item.lastMsg">{{item.lastMsg.message}}</p>
      <div class="item-note" item-right>
      <ng-container *ngIf="item.lastMsg">
        {{item.lastMsg.send | date: 'HH:mm'}}
      </ng-container>
      </div>
    </button>
  </ion-list>
</ion-content>
