        <div id="page-wrapper">
          <div class="row" style="padding-top: 25px">
            <div class="col-md-12">
              <div class="col-md-5">
                <p class="lg-thin-text blue">Estado:</p>
                <p class="md-text"><span class="blue">126</span> <span style="font-weight: 100; color: #4a4a4a">solicitudes médicas</span></p>
              </div>
              <div class="col-md-7 dashboard-btns">
                <div class="col-md-3 col-sm-6 text-center">
                  <button type="button" class="btn btn-primary btn-circle btn-outline btn-xxl">5</button>
                  <p>Solicitudes Pendientes</p>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                  <button type="button" class="btn btn-primary btn-circle btn-outline btn-xxl">120</button>
                  <p>Solicitudes En Curso</p>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                  <button type="button" class="btn btn-primary btn-circle btn-outline btn-xxl">4</button>
                  <p>Profesionales disponibles</p>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                  <button type="button" class="btn btn-primary btn-circle btn-outline btn-xxl"><i class="fa fa-plus"></i></button>
                  <p class="blue"><strong>NUEVA Solicitud</strong></p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6">
                <div class="panel" style="height: 600px"></div>
              </div>
              <div class="col-md-6">
                <div class="panel" style="height: 600px"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- /#page-wrapper -->