<div class="container landing" ng-if="!ctrl.showLogin"> 
            <div class="row text-center">
                <img src="../assets_Vimedo/ic_vimedo.svg">
            </div>
            <!-- /.row -->
            <div class="row text-center md-text blue">
                Bienvenido al sistema <br>
                de Visita de Médicos a Domicilios
            </div>
            <!-- /.row -->
            <div class="row text-center">
                <div class="col-md-12">
                    <div class="col-md-offset-4 col-md-4">
                        <a href="#" ng-click="ctrl.showLogin = true;" class="btn btn-primary btn-outline btn-lg btn-block">Iniciar Sesión</a>    
                    </div>
                </div>
                
            </div>
            <!-- /.row -->
        </div>
<div class="container login" ng-if="ctrl.showLogin">
            <div class="row text-center md-text blue">
                Iniciar Sesión
            </div>
            <!-- /.row -->
            <form ng-submit="ctrl.login();">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-offset-4 col-md-4">

                            <fieldset>
                                <div class="form-group">
                                    <label>Correo Electrónico</label>
                                    <input ng-model="ctrl.credenciales.email" required class="form-control" placeholder="Ej: nombre@mail.com" name="email" type="email" autofocus="">
                                </div>
                                <div class="form-group">
                                    <label>Contraseña</label>
                                    <input ng-model="ctrl.credenciales.password" required class="form-control" placeholder="Tu contraseña" name="password" type="password" value="">
                                </div>
                            </fieldset>

                        </div>
                    </div>

                </div>
                <!-- /.row -->
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="col-md-offset-4 col-md-4">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Ingresar</button>
                            <p><a href="#">Olvidé contraseña</a></p>
                            <a ui-sref="app.signup">Registrarse</a><br>
                        </div>
                    </div>

                </div>
                <!-- /.row -->
            </form>
        </div>
<!-- <div class="login-box">
  <div class="login-logo">
    <a><img src="img/logo_nuevo1.png" style="width: 150px;"></a>
  </div>

  <div class="login-box-body">
    <p class="login-box-msg">Inicie sesi&oacute;n</p>

    <form ng-submit="ctrl.login();">
      <div class="form-group has-feedback">
        <input type="email" ng-model="ctrl.credenciales.email" class="form-control" placeholder="Email" required="">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input required type="password"  ng-model="ctrl.credenciales.password" class="form-control" placeholder="Password" title="Entre 8 y 12 caractéres, letras y números.">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Ingresar</button>
        </div>

      </div>
    </form>

    <a href="#">Olvide mi contraseña</a><br>

    <a ui-sref="app.signup">Registrarse</a><br>

  </div>

</div>
-->