      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><img src="../assets_Vimedo/VIMEDO.svg"></a>
        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right" ng-if="user">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <ng-avatar class="user-image" initials="{{profile.initials}}" round-shape="true" width="25"></ng-avatar> <span class="hidden-xs">{{profile.nombre + ' ' + profile.apellido}}</span> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Perfil</a></li>

          <li class="divider"></li>
          <li style="cursor:pointer;"><a ng-click="logout()">Cerrar Sesi&oacute;n</a></li>
      </ul>
      <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
  </ul>
  <!-- /.navbar-top-links -->
  </nav>
<!-- 
  <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <ng-avatar class="user-image" initials="{{profile.initials}}" round-shape="true" width="25"></ng-avatar>
              <span class="hidden-xs">{{profile.nombre + ' ' + profile.apellido}}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Perfil</a>
                </div>
                <div class="pull-right">
                  <a ng-click="logout()" class="btn btn-default btn-flat">Cerrar Sesi&oacute;n</a>
                </div>
              </li>
            </ul>
          </li> -->