<ion-header>
  <ion-navbar color="primary">
    <ion-title >VIMEDO</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="!isPro">
    <p style="color:#0068e9;font-size:36px;text-align:center;">¡Hola {{nombre}}!</p>
    <p style="text-align:center;"><img src="assets/001-doctor.svg" alt=""></p>
    <p style="font-size:20px;text-align:center;">
        Estamos acá para que 
        te sientas mejor. Solicitá la visita 
        de un médico a domicilio.
    </p>
    <button ion-button full (click)="newSol()">
    Solicitar médico
  </button>
  </ng-container>
  <ng-container *ngIf="isPro">
    <ion-card (click)="openPage(0)">
      <ion-card-content>
        <ion-item>
          <ion-icon name="medical" item-start></ion-icon>
          Solicitudes Pendientes
          <ion-badge item-end>{{solicitudes.length}}</ion-badge>
        </ion-item>
      </ion-card-content>
      </ion-card>
      <ion-card (click)="openPage(1)">
      <ion-card-content>
        <ion-item>
          <ion-icon name="chatbubbles"></ion-icon>
          Mensajes nuevos
          <ion-badge item-end>{{mensajes}}</ion-badge>
        </ion-item>
      </ion-card-content>

    </ion-card>
  </ng-container>
</ion-content>