<!-- Sidebar Menu -->
      <ul class="sidebar-menu" ng-if="::hasRole('ADMIN')">
        <li class="header">ADMIN</li>
        <!-- Optionally, you can add icons to the links -->
        <!-- <li class="active"><a href="#"><i class="fa fa-link"></i> <span>Link</span></a></li> -->
        <li ng-class="{active: active=='admin'}" ><a ui-sref="admin"><i class="fa fa-link"></i> <span>Inicio</span></a></li>
        <li ng-class="{active: active=='admin.pacientes'}" ><a ui-sref="admin.pacientes"><i class="fa fa-link"></i> <span>Afiliados</span></a></li>
        <li ng-class="{active: active=='admin.medicos'}" ><a ui-sref="admin.medicos"><i class="fa fa-link"></i> <span>Profesionales</span></a></li>
        <li ng-class="{active: active=='admin.historial'}" ><a ui-sref="admin.historial"><i class="fa fa-link"></i> <span>Historial</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->