<section class="container">
  <div class="row">
    <div class="col-md-7">
      <h3 class="md-text blue" style="font-weight: 100;">Afiliados</h3>
    </div>
    <div class="col-md-5">
      <div class="text-right" style="margin-top: 27px;">
        <span style="margin-right: 35px;">Mostrar:
          <select ng-model="ctrl.tableConfig.itemsPerPage" >
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
        </span>
        <a href="#" class="btn btn-md btn-primary" ng-click="ctrl.newAfil();">Nuevo afiliado</a>
      </div>
    </div>
  </div>
  <div class="row table-responsive blue-border">
    <div class="col-md-12" style="margin: 16px 0;padding: 0;">
      <div class="col-md-4">
        <h4>Listado de afiliados</h4>
      </div>
      <div class="col-md-8">
        <div class="pull-right has-feedback">
          <input type="text" class="form-control input-sm" ng-model="ctrl.query" ng-change="ctrl.filterList();" placeholder="Filtrar">
          <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
      </div>
    </div>
    <table class="table" at-table at-list="ctrl.afiliados" at-config="ctrl.tableConfig" style="margin-top: 10px;" at-paginated>
      <thead>
      </thead>
      <tbody>
        <tr>
          <td at-implicit at-sortable at-attribute="personaFisica.nombre" at-title="Nombre"></td>
          <td at-implicit at-sortable at-attribute="personaFisica.apellido" at-title="Apellido"></td>
          <td at-implicit at-sortable at-attribute="personaFisica.nroDocumento" at-title="DNI / LC / LE N°"></td>
          <td at-implicit at-sortable at-attribute="credencial" at-title="Credencial"></td>
          <td at-sortable at-attribute="usuario.activo" at-title="Estado"> {{item.usuario.activo ? 'Activo':'Inactivo'}}</td>
          <td at-title="">
            <a href="#" class="btn ver-icon" ng-click="ctrl.viewAfil(item);"></a>
            <a href="#" class="btn btn-warning" ng-click="ctrl.edit(item);"><span class="edit-icon"></span> </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="row">
    <at-pagination class="pagination pagination-sm no-margin pull-right" at-config="ctrl.tableConfig" at-list="ctrl.afiliados"></at-pagination>
  </div>
</section>
<!-- new modal -->
<div class="full-page-modal" ng-class="{active: ctrl.newActive}">
  <div class="col-md-4">
    <h3 class="md-text blue" style="font-weight: 100;">Nuevo afiliado</h3>
  </div>
  <div class="col-md-4">
    <form style="margin-top: 15px;" ng-submit="ctrl.saveAfil();">
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="newName">Nombre</label>
          <input id="name" ng-model="ctrl.afilSel.personaFisica.nombre" name="newName" type="text" placeholder="" class="form-control input-md" required="">
        </div>
        <div class="form-group">
          <label class="control-label" for="newApellido">Apellido</label>
          <input id="apellido" ng-model="ctrl.afilSel.personaFisica.apellido" name="newApellido" type="text" placeholder="" class="form-control input-md" required="">
        </div>
        <div class="form-group">
          <label class="control-label" for="newDoc">DNI / LC / LE N°</label>
          <input id="doc" ng-model="ctrl.afilSel.personaFisica.nroDocumento" name="newDoc" type="text" placeholder="" class="form-control input-md" required="">
        </div>
        <div class="form-group">
          <label class="control-label" for="newDoc">Fecha de nacimiento</label>
          <div class="dropdown">
            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
              <div class="input-group">
                <input type="text" class="form-control" readonly="" value="{{ctrl.afilSel.personaFisica.nacimiento | date:'dd/MM/yyyy'}}"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <datetimepicker data-ng-model="ctrl.afilSel.personaFisica.nacimiento" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', minView:'day' }"/>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="newCredencial">Credencial</label>
          <input id="Credencial" ng-model="ctrl.afilSel.credencial" name="newCredencial" type="text" placeholder="" class="form-control input-md" required="">
        </div>
        <div class="form-group">
          <label class="control-label" for="newEmail">Email</label>
          <input id="email" ng-model="ctrl.afilSel.email" name="newEmail" type="email" placeholder="" class="form-control input-md" required="">
        </div>
        <div class="form-group">
          <div class="">
            <label class="control-label" for="newTelefono">Telefono</label>
          </div>
          <div class="row">
            <div class="col-md-10">
              <input id="telefono" ng-model="ctrl.afilSel.personaFisica.telefono" name="newTelefono" type="text" placeholder="" class="form-control input-md" ng-enter="ctrl.addTel();">
            </div>
            <div class="col-md-2">
              <a href="#" class="btn btn-xs btn-primary" ng-click="ctrl.addTel();" style="margin-top: 5px;"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
          </div>
          <div class="col-md-12">
            <p class="form-control-static" ng-repeat="tel in ctrl.afilSel.personaFisica.telefonosA"><button class="btn btn-danger btn-xs" ng-click="ctrl.removeTel($index)">x</button> {{tel}}</p>
          </div>
        </div>
        <div class="form-group">
          <div>
            <label class="control-label" for="newDireccion">Direccion</label>
          </div>
          <div>
            <input id="newDireccion" places-auto-complete size=80 ng-model="ctrl.afilDir" component-restrictions="{country:'ar'}"  on-place-changed="ctrl.placeChanged()" ng-enter="" class="form-control input-md" >
          </div>
          <p class="form-control-static" ng-repeat="dom in ctrl.afilSel.personaFisica.domicilios"><button class="btn btn-danger btn-xs" ng-click="ctrl.removeDom($index)">x</button> {{dom.calle + ' ' + dom.numero + ', ' + dom.localidad + ', ' + dom.provincia}} <input ng-model="dom.extra" placeholder="Datos extra" class="form-control input-md"> </p>
        </div>
        <!-- Button (Double) -->
        <div class="form-group">
          <div class="col-md-8">
            <button id="guardarNew" type="submit" name="guardarNew" class="btn btn-primary btn-block">Aceptar</button>
          </div>
          <div class="col-md-4" style="padding-top: 10px">
            <a id="cancelarNew" name="cancelarNew" class="cancel" ng-click="ctrl.cancelNew()">Cancelar</a>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<!-- edit modal -->
<div class="full-page-modal" ng-class="{active: ctrl.editActive}">
  <div class="col-md-4">
    <h3 class="md-text blue" style="font-weight: 100;">Datos del afiliado</h3>
    <h3 class="blue" style="font-weight: 100;">{{ctrl.afilSel.personaFisica.nombre}} {{ctrl.afilSel.personaFisica.apellido}}</h3>
  </div>
  <div class="col-md-4">
    <form style="margin-top: 15px;" ng-submit="ctrl.saveEdit();">
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="newName">Nombre</label>
          <input ng-model="ctrl.afilSel.personaFisica.nombre" name="newName" type="text" placeholder="" class="form-control input-md" required="">
        </div>
        <div class="form-group">
          <label class="control-label" for="newApellido">Apellido</label>
          <input ng-model="ctrl.afilSel.personaFisica.apellido" name="newApellido" type="text" placeholder="" class="form-control input-md" required="">
        </div>
        <div class="form-group">
          <label class="control-label" for="newDoc">DNI / LC / LE N°</label>
          <input ng-model="ctrl.afilSel.personaFisica.nroDocumento" name="newDoc" type="text" placeholder="" class="form-control input-md" required="">
        </div>
        <div class="form-group">
          <label class="control-label" for="newDoc">Fecha de nacimiento</label>
          <div class="dropdown">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="#">
              <div class="input-group">
                <input type="text" class="form-control" readonly="" value="{{ctrl.afilSel.personaFisica.nacimiento | date:'dd/MM/yyyy'}}"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <datetimepicker data-ng-model="ctrl.afilSel.personaFisica.nacimiento" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', minView:'day' }"/>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="newCredencial">Credencial</label>
          <input ng-model="ctrl.afilSel.credencial" name="newCredencial" type="text" placeholder="" class="form-control input-md" required="">
        </div>
        <div class="form-group">
          <label class="control-label" for="newEmail">Email</label>
          <input ng-model="ctrl.afilSel.usuario.email" name="newEmail" type="email" placeholder="" class="form-control input-md" required="">
        </div>
        <div class="form-group">
          <div class="">
            <label class="control-label" for="newTelefono">Telefono</label>
          </div>
          <div class="row">
            <div class="col-md-10">
              <input ng-model="ctrl.afilSel.personaFisica.telefono" name="newTelefono" type="text" placeholder="" class="form-control input-md" ng-enter="ctrl.addTel();">
            </div>
            <div class="col-md-2">
              <a href="#" class="btn btn-xs btn-primary" ng-click="ctrl.addTel();" style="margin-top: 5px;"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
          </div>
          <div class="col-md-12">
            <p class="form-control-static" ng-repeat="tel in ctrl.afilSel.personaFisica.telefonosA"><button class="btn btn-danger btn-xs" ng-click="ctrl.removeTel($index)">x</button> {{tel}}</p>
          </div>
        </div>
        <div class="form-group">
          <div>
            <label class="control-label" for="newDireccion">Direccion</label>
          </div>
          <div>
            <input places-auto-complete size=80 ng-model="ctrl.afilDir" component-restrictions="{country:'ar'}"  on-place-changed="ctrl.placeChanged()" ng-enter="" class="form-control input-md" >
          </div>
          <p class="form-control-static" ng-repeat="dom in ctrl.afilSel.personaFisica.domicilios"><button class="btn btn-danger btn-xs" ng-click="ctrl.removeDom($index)">x</button> {{dom.calle + ' ' + dom.numero + ', ' + dom.localidad + ', ' + dom.provincia}} <input ng-model="dom.extra" placeholder="Datos extra" class="form-control input-md"> </p>
        </div>
        <!-- Button (Double) -->
        <div class="form-group">
          <div class="col-md-8">
            <button type="submit" name="guardarEdit" class="btn btn-primary btn-block">Guardar</button>
          </div>
          <div class="col-md-4" style="padding-top: 10px">
            <a name="cancelarEdit" class="cancel" ng-click="ctrl.cancelEdit()">Cancelar</a>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<!-- view modal -->
<div class="full-page-modal" ng-class="{active: ctrl.viewActive}">
  <div class="col-md-12">
    <h3 class="md-text blue" style="font-weight: 100;">Datos del afiliado</h3>
  </div>
  <div class="col-md-12">

    <fieldset>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#datosPersonales" aria-controls="datosPersonales" role="tab" data-toggle="tab">Datos Personales</a></li>
        <li role="presentation"><a href="#historial" aria-controls="historial" role="tab" data-toggle="tab">Historial de Atención</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="datosPersonales">
          <div class="col-md-12">
            <div class="col-md-8">
              <table class="table table-striped" style="margin-top: 20px;">
                <tr><td>Nombre:</td><td>{{ctrl.afilSel.personaFisica.nombre}}</td></tr>
                <tr><td>Apellido:</td><td>{{ctrl.afilSel.personaFisica.apellido}}</td></tr>
                <tr><td>Edad:</td><td></td></tr>
                <tr><td>Genero:</td><td></td></tr>
                <tr><td>DNI / LC / LE Nº:</td><td>{{ctrl.afilSel.personaFisica.nroDocumento}}</td></tr>
                <tr><td>Fecha de nacimiento:</td><td>{{ctrl.afilSel.personaFisica.fechaNacimiento | date:'dd/MM/yyyy'}}</td></tr>
                <tr><td>Credencial:</td><td>{{ctrl.afilSel.credencial}}</td></tr>
                <tr><td>Email:</td><td>{{ctrl.afilSel.usuario.email}}</td></tr>
                <tr ng-repeat="tel in ctrl.afilSel.personaFisica.telefonos.split(',')"><td><span ng-if="$index == 0">Teléfono:</span></td><td>{{tel}}</td></tr>
                <tr ng-repeat="dom in ctrl.afilSel.personaFisica.domicilios"><td>Dirección:</td><td>{{dom.calle + ' ' + dom.numero + ', ' + dom.localidad + ', ' + dom.provincia}}</td></tr>
              </table>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="historial">
          <div class="table-responsive">
            <table class="table table-bordered" at-table at-list="ctrl.solicitudes" at-config="ctrl.tableConfig" style="margin-top: 10px;" at-paginated>
              <thead>
              </thead>
              <tbody>
                <tr>
                  <td at-sortable at-attribute="fechaAlta" at-title="Alta"> {{item.fechaAlta | date:'dd/MM/yyyy HH:MM'}} </td>
                  <td at-sortable at-attribute="estado" at-title="Estado"> {{getEstado(item.estado)}} </td>
                  <td at-title="Ver">
                    <a href="#" class="btn ver-icon" ng-click="ctrl.viewHist(item);"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="box-footer clearfix">
            <at-pagination class="pagination pagination-sm no-margin pull-right" at-config="ctrl.tableConfig" at-list="ctrl.solicitudes"></at-pagination>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">

          <button  name="guardarEdit" class="btn btn-primary" ng-click="ctrl.editActive = true;ctrl.viewActive = false;">Editar</button>
          <a class="blue" name="cancelarEdit" ng-click="ctrl.cancelView()">Volver al listado</a>
        </div>
      </div>
    </fieldset>

  </div>
</div>
<!--  -->
<div id="viewModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ctrl.afilSel.personaFisica.nombre +' '+ ctrl.afilSel.personaFisica.apellido}}</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" ng-submit="ctrl.savePro();">
          <fieldset>
            <div class="form-group">
              <label class="col-md-4 control-label">Credencial</label>
              <div class="col-md-5">
                <p class="form-control-static">{{ctrl.afilSel.credencial}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">DNI / LC / LE N°</label>
              <div class="col-md-5">
                <p class="form-control-static">{{ctrl.afilSel.personaFisica.nroDocumento}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Fecha de nacimiento</label>
              <div class="col-md-5">
                <p class="form-control-static">{{ctrl.afilSel.personaFisica.fechaNacimiento | date:'dd/MM/yyyy'}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Domicilio/s</label>
              <div class="col-md-5">
                <p class="form-control-static" ng-repeat="dom in ctrl.afilSel.personaFisica.domicilios">{{dom.calle + ' ' + dom.numero + ', ' + dom.localidad + ', ' + dom.provincia}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Telefono/s</label>
              <div class="col-md-5">
                <p class="form-control-static" ng-repeat="tel in ctrl.afilSel.personaFisica.telefonos.split(',')">{{tel}}</p>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="histModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ctrl.histSel.personaFisica.personaFisica.nombre +' '+ ctrl.histSel.personaFisica.personaFisica.apellido}}</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" ng-submit="ctrl.savePro();">
          <fieldset>
            <legend>Solicitud</legend>
            <div class="form-group">
              <label class="col-md-4 control-label">Alta Solicitud</label>
              <div class="col-md-5">
                <p class="form-control-static">{{ctrl.histSel.fechaAlta | date:'dd/MM/yyyy HH:MM'}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Sintomas</label>
              <div class="col-md-5">
                <p class="form-control-static" ng-repeat="sin in ctrl.histSel.sintomasCie">{{sin.dec10}}</p>
                <p class="form-control-static" ng-repeat="sin in ctrl.histSel.sintomas.split(',')">{{sin}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Tiempo de Sintomas</label>
              <div class="col-md-5">
                <p class="form-control-static">{{ctrl.histSel.horasSintomas}} hs. {{ctrl.histSel.minutosSintomas}} min.</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Antecedentes</label>
              <div class="col-md-5">
                <p class="form-control-static" ng-repeat="antecedentes in ctrl.histSel.antecedentesMedicosCie">{{antecedentes.dec10}}</p>
                <p class="form-control-static" ng-repeat="antecedentes in ctrl.histSel.antecedentesMedicos.split(',')">{{antecedentes}}</p>
              </div>
            </div>
            <legend>Profesional Asignado</legend>
            <div class="form-group">
              <label class="col-md-4 control-label">Nombre</label>
              <div class="col-md-5">
                <p class="form-control-static">{{ctrl.histSel.profesional.personaFisica.nombre +' '+ ctrl.histSel.profesional.personaFisica.apellido}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Matricula</label>
              <div class="col-md-5">
                <p class="form-control-static">{{ctrl.histSel.profesional.matricula }}</p>
              </div>
            </div>
            <legend>Afiliado</legend>
            <div class="form-group">
              <label class="col-md-4 control-label">Credencial</label>
              <div class="col-md-5">
                <p class="form-control-static">{{ctrl.histSel.personaFisica.credencial}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">DNI / LC / LE N°</label>
              <div class="col-md-5">
                <p class="form-control-static">{{ctrl.histSel.personaFisica.personaFisica.nroDocumento}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Fecha de nacimiento</label>
              <div class="col-md-5">
                <p class="form-control-static">{{ctrl.histSel.personaFisica.personaFisica.fechaNacimiento | date:'dd/MM/yyyy'}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Domicilio/s</label>
              <div class="col-md-5">
                <p class="form-control-static" ><u>Calle</u>: {{ctrl.histSel.domicilio.calle + ' ' + ctrl.histSel.domicilio.numero }}</p>
                <p class="form-control-static" ><u>Entre Calles</u>: {{ctrl.histSel.domicilio.entrecalles }}</p>
                <p class="form-control-static" ><u>Localidad</u>: {{ctrl.histSel.domicilio.localidad + ', ' + ctrl.histSel.domicilio.provincia}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Telefono/s</label>
              <div class="col-md-5">
                <p class="form-control-static" ng-repeat="tel in ctrl.histSel.personaFisica.personaFisica.telefonos">{{tel}}</p>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
